

.homepagelogin {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
textarea:focus, input:focus {
  outline             : none;
}
div {
  -webkit-text-size-adjust: none;
}
.homepagelogin .bgcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .bonsilogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 136px;
  height              : 173px;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.homepagelogin .logincard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 783px;
  height              : 494px;
  width               : 349px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .c1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 99.71%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .loginwith {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6.07%;
  height              : 26px;
  width               : 24.93%;
  position            : absolute;
  margin              : 0;
  left                : 37.54%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Black", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.homepagelogin .logincard .loginbutton {
  background-color    : rgba(21, 200, 114, 0.6);
  right               : 18.91%;
  bottom              : 22.27%;
  height              : 9.11%;
  width               : 61.32%;
  position            : absolute;
  margin              : 0;
  border-radius       : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .passwordfield {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39.68%;
  height              : 15.59%;
  width               : 87.11%;
  position            : absolute;
  margin              : 0;
  left                : 6.45%;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .passwordfield .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .passwordfield .field {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : calc(100.00% - 37px);
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .passwordfield .field .input {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .passwordfield .field .textpassword {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 8px);
  height              : 17px;
  width               : 24.34%;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 17.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.homepagelogin .logincard .passwordfield .field .textpassword::placeholder {
  color               : rgba(215, 215, 215, 0.6);
}
.homepagelogin .logincard .passwordfield .label {
  background-color    : rgba(255,255,255,0.0);
  top                 : -6px;
  height              : 26px;
  width               : 26.32%;
  position            : absolute;
  margin              : 0;
  left                : 108px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Black", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.homepagelogin .logincard .usernamefield {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17.81%;
  height              : 15.59%;
  width               : 87.11%;
  position            : absolute;
  margin              : 0;
  left                : 6.45%;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .usernamefield .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .usernamefield .field {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : calc(100.00% - 37px);
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .usernamefield .field .input {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .usernamefield .field .textusername {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 8px);
  height              : 17px;
  width               : 25.33%;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 17.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.homepagelogin .logincard .usernamefield .field .textusername::placeholder {
  color               : rgba(215, 215, 215, 0.6);
}
.homepagelogin .logincard .usernamefield .label {
  background-color    : rgba(255,255,255,0.0);
  top                 : -6px;
  height              : 26px;
  width               : 27.30%;
  position            : absolute;
  margin              : 0;
  left                : 108px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Black", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.homepagelogin .logincard .areyounew {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 13.16%;
  height              : 19px;
  width               : 24.07%;
  position            : absolute;
  margin              : 0;
  left                : 37.97%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.homepagelogin .logincard .showpsw {
  background-color    : rgba(255,255,255,0.0);
  right               : 6.30%;
  bottom              : 37.25%;
  height              : 7.49%;
  width               : 34.38%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .showpsw .areyounew1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24.32%;
  height              : 16px;
  width               : 69.17%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.homepagelogin .logincard .showpsw .showpassword {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 83px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .logincard .showpsw .rectangle {
  background-color    : rgba(0, 0, 0, 0.8);
  right               : 2.50%;
  top                 : 44.59%;
  height              : 10.81%;
  width               : 26.67%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(-24deg); /* IE 9 */
  -webkit-transform   : rotate(-24deg); /* Chrome, Safari, Opera */
  transform           : rotate(-24deg);
}
.homepagelogin .logincard .login {
  background-color    : rgba(255,255,255,0.0);
  right               : 40.40%;
  bottom              : 19.64%;
  height              : 54px;
  width               : 15.47%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.78;
  font-family         : "Nunito-Black", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.homepagelogin .logincard .login .span1 {
  text-align          : justify;
  line-height         : 31.0px;
}
.homepagelogin .logincard .login .span2 {
  font-size           : 15.0px;
  text-align          : justify;
  line-height         : 23.0px;
}
.homepagelogin .title1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : 92px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagelogin .title1 .bonsi1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 46px);
  height              : 91px;
  width               : 99.34%;
  position            : absolute;
  margin              : 0;
  left                : 0.33%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.93;
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 91.0px;
}
.homepagelogin .title1 .bonsi {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 46px);
  height              : 91px;
  width               : 99.34%;
  position            : absolute;
  margin              : 0;
  left                : 0.33%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.93;
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 91.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}